
.principal{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.maquina{
    width: 400px;
    height: 600px;
    background: url('../img/maquina.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -100px;
    
}

.monedas img{
    width: 60px;
    height: 60px;
}

.productos{
    width: 52%;
    height: 52%;

    /* margin-top: 80px;
    margin-left: 75px; */
    position: relative;
    top:80px;
    left: 75px;
    display: flex;
    flex-wrap: wrap;
    
}
.ranura{
    width: 50px;
    height: 50px;
}
.espiral{ 
    background: url('../img/esp.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Agua{
    background: url('../img/Agua.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Cacahuetes{
    background: url('../img/Cacahuetes.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Cocacola{
    background: url('../img/Cocacola.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Nestea{
    background: url('../img/Nestea.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Patatas{
    background: url('../img/Patatas.png');
    background-repeat: no-repeat;
    background-size: cover;
}

