.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
.principal{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.maquina{
    width: 400px;
    height: 600px;
    background: url('../img/maquina.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -100px;
    
}

.monedas img{
    width: 60px;
    height: 60px;
}
.monedas_cajetines{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.monedas_cajetines div{
    width: 45%;
    display: flex;
    align-items: center;
}
.monedas_cajetines img{
    width: 30px;
    height: 30px;
    margin-right: 10px
}
.monedas_cajetines button{
    margin: 20px;
}

.productos{
    width: 52%;
    height: 52%;

    /* margin-top: 80px;
    margin-left: 75px; */
    position: relative;
    top:80px;
    left: 75px;
    display: flex;
    flex-wrap: wrap;    
}
.importe{
    width: 30px;
    height: 30px;
    position: relative;
    left: 310px;
    top: -195px;
}
.credito{
    width: 30px;
    font-size: 15px;
    height: 30px;
    position: relative;
    left: 310px;
    top: -70px;
    
}
.ranura{
    width: 50px;
    height: 50px;
}
.ranuraSel{
    width: 55px;
    height: 55px;
}
.espiral{ 
    background: url('../img/esp.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Agua{
    background: url('../img/Agua.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Cacahuetes{
    background: url('../img/Cacahuetes.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Cocacola{
    background: url('../img/Cocacola.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Nestea{
    background: url('../img/Nestea.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Patatas{
    background: url('../img/Patatas.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.avisos{
    margin-top: 20px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    color: red;
}

#avisos{
    max-height: 300px;
    overflow:auto;
}

.btnAbrir{
    width: 15px;
    height: 25px;
    position: relative;
    left: 339px;
    top: -61px;
    cursor: pointer
}

*{
    user-select: none;
}

.dercha{
    width: 50%;
}
#productoSel{
    
}
